<div class="tag_instance">
    <img
    src="http://sandbox.fluidinfo.com/objects/3d8808e5-e546-4db9-91ce-6fa34c2665e0/ntoll/pocketFluidDB/images/tag.png" alt="<%= item.name %>" />
    <%= item.name %>
    <span class="tag_actions">
    (<a href="#/<%= item.path %>/<%= item.name %>/edit">Edit</a> / 
    <a href="#/<%= item.path %>/<%= item.name %>/delete" class="delete" onclick="return(confirm('Are you sure? (This step cannot be undone)'));">Delete</a>)
    </span>
</div>
